[submodule "libs/SDL"]
	path = libs/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/SDL_shadercross"]
	path = libs/SDL_shadercross
	url = https://github.com/libsdl-org/SDL_shadercross.git
